.profile__avatar-button{
    width: 28px;
    height: 28px;
    background: transparent url('../../../images/edit-icon.svg') center no-repeat;
    background-size: 26px 26px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    z-index: 1;
}

.avatar__mask{
    position: absolute;
    background: #000;
    inset: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}